@import "tailwindcss";

@theme {
  --color-tefaOrange: #FF9E53;
  --color-tefaBlue: #47A3FF;
  --color-tefaDark: #1B1B1C;
  --font-poppins: "Poppins", sans-serif;
}

body {
  font-family: var(--font-poppins);
  background-color: #f3f4f6; /* bg-gray-100 */
  color: #111827; /* text-gray-900 */
}